html{
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

#info {
	color:white;
	font-size: 16px;
	padding-left: 350px;
}

/*error message color*/
#loginError {
	color: red;
}

/**/
#mainTitleDiv {
	margin-top:10px;
	font-size:25px;
	font-weight:bold;
	width:100%;
	text-align:center;
	color: white;
}
/*movie title*/
.imagetitle{
	color: white;
	font-size: 17px;
	margin-top:-5px;
	font-weight:bold;
}
.posterhover:hover {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
@keyframes shake {
	from, 20%, 53%, 80%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transform: translate3d(0,0,0);
	  }

	  40%, 43% {
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transform: translate3d(0, -8px, 0);
	  }

	  70% {
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transform: translate3d(0, -4px, 0);
	  }

	  90% {
		transform: translate3d(0,-2px,0);
	  }
}

/*navigation bass start*/
.leftSideEntries {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*width: 100%;*/
  background-color: #1c1c1c;
  margin-bottom: 50px
}

.leftSideEntry {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #1c1c1c;
  cursor: pointer;
  font-size: 150%;
}

.leftSideEntry:hover {
	background-color: #444444;
	color: white;

}
/*navigation bar end*/

.navigation{
	cursor: pointer;
}
.listmovieimg img{
	cursor: pointer;
}
#welcomemsg{
	font-size: 150%;
	padding:8px;
	color: white;
	text-align: center;
}
#logoutbutton{
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  background-color: #cbcdcd;
  color: black;
  border: 2px solid #1c1c1c;
}
#deleteUserMsg{
	text-decoration: underline;
	color: whitesmoke;
	margin-top: 5px;
	cursor: pointer;
}
#showmorebutton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}
.poster {
  float: left;
  width: 350px;
}

.login {
	height:160px;
	width:180px;
	padding:10px;
}

.login input { 
	padding:5px;
	margin:5px
 }
 
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#1c1c1c;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}

/*start of searchbar css*/
.search-container{
	width: 490px;
	display: block;
	margin: 0 auto;
	position:relative;
}

input#searchMovieInput{
	margin:.8em 0 .2em 0;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #D0CFCE;
	outline: none;
}

.search-icon{
	position: absolute;
	right:-40px;
	top:-11px;
	width:75px;
	height:75px;
	cursor: pointer;
}
/*end of searchbar css*/

a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	background-color: #1c1c1c;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a xspan {
	display:block;
}

/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
	color: white;
	position: absolute;
}
#footer p {
	padding:10px;
	margin:0;
}

/* Columns Style */
#cmMainTable {
	width:100%;
	min-height: 1200px;
}

#menuCol {
	width:210px;
	background-color: #1c1c1c;
}

#cmMiddleCol {
	width:100%;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #444444;
}

#cmRightCol {
	width:210px;
	background-color: #0ac147;
}

/* Advanced Search Style */
label .tbd {
	color: #cbcdcd;
	font-size: 17px;
}

#advancedSearchDiv {
	margin-top: 10px;
}

#advancedSearchSubmit {
	padding: 5px;
}

.advSearchTable {
	font-size: 12px;
}

.advSearchLabel {
	width: 200px;
	color:white;
	font-size: 18px;
}

.advSearchInput {
	width: 300px;
	font-size: 14px;
	padding:2px 0 2px 0;
}

.toggleSearchBtn {
	color: white;
	cursor: pointer;
	text-decoration: underline;
	font-size: 12px;
}

/* radio buttons style*/

#orderButtons{
text-align: center;
}

.buttonLabel{
	color: white;
}

/* */

.container {
	display: inline-block;
	cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: rgb(225, 225, 225);
	margin: 6px 0;
	transition: 0.4s;
}
  
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
	
/* list icons */
.listIcon {
	cursor: pointer;
}